
body{
    font-family: 'Amiko';
    color: #5c5c5c;
}

header{
    margin-bottom: 5%;
    box-shadow: 0px 5px 20px gainsboro;
}

.col{
    float: left;
    width: 30%;
    padding: 2%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

#h1{
    padding-top: 5%;
    text-align: center;
}
#logo{
    width: 30%;
    height: 30%;
    margin: 1% 10% 1% 20%;
}

main{
    text-align: center;
}

#name{
    padding: 5pt 10pt 5pt 10pt;
    margin-bottom: 3pt;
}

#pwd{
    padding: 5pt 10pt 5pt 10pt;
    margin-bottom: 10pt;
}

#login{
    padding: 12px 50px;
    border-radius: 40px;
    background-color: #FDCC2D;
    border: none;
    transition-duration: 0.4s;
    color: white;
    font-weight: bold;
}

#login:hover {
    color: #FDCC2D;
}

.listItem {
    border: 10px solid #888888;
}

input{
    border: 1px solid #888888;
}

@media screen and (max-width: 950px) {
    #logo{
        width: 50%;
        height: 50%;
        padding-top: 10%;
    }
    #h1{
        text-align: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }



}
